//variable
$textColor: #333333;
$textColor1: #585656;
$textColor2: #77888D;
$textColor3: #243134;
$textColor4: #404D51;
$successColor: #3BA815;
$dangerColor: #C71026;
$warningColor: #EE7A14;
$primaryColor: #0682F4;
$lightColor: #FAFAFC;

$space: 24px;
$fontSize: 16px;
$fontFamily: 'SVN-Gilroy';