@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@font-face {
  font-family: SVN-Gilroy;
  font-weight: 700;
  src: url("../fonts/SVN-Gilroy Bold.otf") format("opentype");
}
@font-face {
  font-family: SVN-Gilroy;
  font-weight: 600;
  src: url("../fonts/SVN-Gilroy SemiBold.otf") format("opentype");
}
@font-face {
  font-family: SVN-Gilroy;
  font-weight: 500;
  src: url("../fonts/SVN-Gilroy Medium.otf") format("opentype");
}
@font-face {
  font-family: SVN-Gilroy;
  font-weight: 400;
  src: url("../fonts/SVN-Gilroy Regular.otf") format("opentype");
}
body {
  font-size: 16px;
  font-family: "SVN-Gilroy";
  background-color: #EDF3FB;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

.bg-white {
  background-color: #FFF;
}

.title, main .chart-bar_title h3, main .chart-rate_title h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #243134;
  margin-bottom: 20px;
}

.header {
  background-color: #FFF;
  max-height: 84px;
  padding: 18px 24px;
  border-bottom: 1px solid #EBEBF0;
  display: flex;
  align-items: center;
}

aside {
  width: 250px;
  min-height: calc(100vh - 84px);
  background-color: #FFF;
}
aside ul {
  margin: 32px 0;
  padding: 0 12px 0 0;
}
aside ul li {
  position: relative;
  padding: 16px 20px;
  background-color: #FFF;
  border-radius: 0px 16px 16px 0px;
  transition: all 0.3s;
}
aside ul li a {
  color: #77888D;
}
aside ul li a img {
  margin-right: 10px;
}
aside ul li.active {
  background-color: #F2F2F5;
}
aside ul li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #0682F4;
}
aside ul li.active a {
  color: #0682F4;
}

main {
  padding: 24px;
  width: 100%;
}
main .main-breadcrumb {
  margin-bottom: 24px;
}
main .main-breadcrumb ul li a {
  color: #333333;
}
main .main-breadcrumb ul li span {
  color: #0682F4;
  font-weight: 600;
}
main .main-nav {
  background-color: #FFF;
  border: none;
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 24px;
}
main .main-nav .nav-link {
  border: none;
  color: #333333;
  font-weight: 600;
}
main .main-nav .nav-link.active {
  color: #0682F4;
  border-bottom: 3px solid #0682F4;
}
main .form-filter {
  margin-bottom: 18px;
}
main .form-filter .form-select,
main .form-filter .form-control {
  background-color: #FAFAFC;
  outline: none;
}
main .form-filter .form-select:focus,
main .form-filter .form-control:focus {
  outline: none;
  box-shadow: unset;
}
main .form-filter .search-input {
  position: relative;
}
main .form-filter .search-input input {
  padding-right: 30px;
}
main .form-filter .search-input button {
  position: absolute;
  top: 8px;
  right: 0;
  border: none;
  background: unset;
  color: #0682F4;
}
main .sub-breadcrumb {
  color: #EE7A14;
  font-weight: 500;
  margin-bottom: 24px;
}
main .sub-breadcrumb .divider {
  font-weight: bold;
  font-size: 12px;
  margin: 0 4px;
}
main .list-block {
  margin-bottom: 24px;
}
main .list-block_item {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
}
main .list-block_item label {
  font-size: 16px;
  font-weight: bold;
  line-height: 28px;
}
main .list-block_item .badge {
  background: rgba(193, 10, 10, 0.15);
  border-radius: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C71026;
  height: 23px;
  margin-left: 11px;
  display: flex;
  align-items: center;
  padding: 2px 4px;
}
main .list-block_item p {
  color: #3BA815;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  margin: 8px 0 4px;
}
main .list-block_item p span {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #828282;
}
main .list-block_item small {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #333333;
}
main .list-block_item small span {
  color: #0682F4;
}
main .chart-bar, main .chart-rate {
  padding: 28px 24px 30px;
  border: 1px solid #F2F2F5;
  border-radius: 12px;
  margin-bottom: 24px;
}
main .chart-bar_title span, main .chart-rate_title span {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #C71026;
}
main .chart-bar .sub-nav {
  background-color: #EFF7FF;
  border: none;
  margin-bottom: 20px;
}
main .chart-bar .sub-nav .nav-link {
  border: none;
  color: #585656;
  margin: 0 10px;
  font-weight: 500;
}
main .chart-bar .sub-nav .nav-link.active {
  background-color: unset;
  color: #0682F4;
  font-weight: bold;
  border-bottom: 3px solid #0682F4;
}